<template>
  <Auth>
    <div>
      <h1>product</h1></div
  ></Auth>
</template>
<script>
import Auth from '../components/Auth.vue'
export default {
  components: {
    Auth
  }
}
</script>
<style></style>
